---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>

  <!-- Link to Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-cover bg-center" style="background-image: url('https://i.pinimg.com/originals/3b/07/e6/3b07e686956703b179a8be66231f21b6.jpg');">


  <div id="app" class="relative h-screen">
    <main class="[grid-area:main] bg-white fixed bottom-0 left-0 w-full z-30" style="height: 10px !important;">MAIN</main>
  </div>
  
  <slot />
</body>
</html>



<style>
  #app {
    display: grid;
    grid-template-areas: "main";
    grid-template-rows: 1fr auto;
  }

  body {
    font-family: system-ui, sans-serif;
    background-color: #000;
  }

  main {
    color: #000; /* Asegura que el texto sea visible en el fondo blanco */
  }
</style>